body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2e9e3;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    background-color: #FFF5E1;
    padding: 20px;
    box-shadow: 0 0 20px rgb(186, 152, 139);
    border-radius: 10px;
}

form {
    margin-bottom: 20px;
}

form label {
    font-style: oblique;
    font: 700;
    color: #624836;
    display: block;
    margin-bottom: 5px;
}

form input {
    width: 97.5%;
    padding: 8px;
    margin-bottom: 10px;
    background-color: #f0e4d7;
    border: none;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
    border-radius: 8px;
}

select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    background-color: #f0e4d7;
    border: none;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
    border-radius: 8px;
}

#tiempo {
    width: 15%;
    padding: 8px;
    margin-bottom: 10px;
    background-color: #f0e4d7;
}

#ingredientesReceta, #instruccionesReceta {
  white-space: pre-line;
}

form button {
    font-size: medium;
    background-color: #c48f99;
    color: #FAFAFA;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

form button:hover {
    background-color: #bb8b8b;
}

h2 {
    color: #d0a08e;
   /*  text-shadow: 2px 2px 5px #666666; */
    font-size: xx-large;
    text-shadow: 1px 1px 1px #624836;
}

textarea {
    width: 97.5%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #f0e4d7;
    font-size: 15px;
    resize: none;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
}


.tabla-recetas {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

.tabla-recetas th {
    background-color: #c48f99;
    color: white;
    text-align: left;
    padding: 10px;
    font-weight: bold;
}

.tabla-recetas td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    color: #333;
}

.tabla-recetas tr:hover {
    background-color: #fff6fe;
    transition: 0.2s;
}

.btn-ver,
.btn-editar,
.btn-eliminar {
  padding: 6px 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  width: auto;           /* Evita que se corte */
  white-space: nowrap;   /* Evita que el texto se parta */
}

.btn-ver {
  background-color: #f1f1f1;
  color: #333;
}

.btn-editar {
  background-color: #d6a4a4;
  color: white;
}

.btn-eliminar {
  background-color: #c45b5b;
  color: white;
}

.btn-editar:hover {
  background-color: #bb8b8b;
}

.btn-eliminar:hover {
  background-color: #a94e4e;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 8% auto;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  animation: aparecer 0.3s ease;
}

@keyframes aparecer {
  from { transform: scale(0.9); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.cerrar {
  color: #c45b5b;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.cerrar:hover {
  color: #a94e4e;
}

#btn_agregar {
  background-color: #d6a4a4;
  color: white;
  border: #a94e4e;
  font-size: large;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
  white-space: nowrap;
}

#btn_agregar:hover {
    background-color: #bb8b8b;
}

.cerrarFormulario {
  color: #c45b5b;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.cerrarFormulario:hover {
  color: #a94e4e;
}